@{
    ViewData["Title"] = "Home Page";
}
<h2>PRACTICE RA NI</h2>
<br>
<br>

<div class="container">
    <div class="col row">
        <div class="entryarea">
            <input type="text" required>
            <div class="labelline">Email Address</div>
        </div>
    </div>
    <br>
    <div class="col row">
        <div class="entryarea">
            <input type="text" required>
            <div class="labelline">Password</div>
        </div>
    </div>
</div>
<br>
<div class="center">
    <button class="btn">LOG IN</button>
</div>